/* shared styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --gradient: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --primary-color: #FF42A5;
    --secondary-color: #4EC5F7;
    --title-color: #0B0223;
    --text-color: #534C64;
}

.grad-text {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* body {
    width: 90vw;
    margin: auto;
} */

.primary-color {
    color: var(--primary-color);
}

button:hover {
    cursor: pointer;
}

.section-title {
    color: var(--title-color);
    font-size: 3rem;
    font-weight: 700;
}

.section-description {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    margin: 10px 0px 40px;
}

.btn-primary {
    background-color: var(--primary-color);
    padding: 20px 40px;
    border: none;
    border-radius: 48px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.btn-secondary {
    background-color: var(--secondary-color);
    padding: 20px 40px;
    border: none;
    border-radius: 48px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

/* navbar styles */
.nav-container {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--title-color);
}

.nav-logo img {
    width: 50px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
    color: var(--text-color);
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

#follow {
    /* border: 2px solid red; */
    padding: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links img {
    width: 30px;
}

/* banner section styles */
.banner-container {
    /* height: 550px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.068);

}

.banner-content {
    margin-left: 0;
    width: 50%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
    background-image: url('../images/Group\ 14.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 2px solid tomato; */
}

.banner-content h2 {
    color: var(--title-color);
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content h1 {
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-content li {
    list-style: none;
    margin: 10px 0px;
    color: var(--text-color);
}

.banner-content i {
    color: #ff42a4ba;
    margin-right: 15px;
    width: 20px;
}

.btn-container {
    display: flex;
    gap: 20px;
    margin: 40px 0px;
}

.banner-img {
    width: 45%;
    margin-right: 0;
    /* border: 2px solid tomato; */
}

.banner-img img {
    width: 100%;
}

/* videos section starts */
.videos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20vh 0vw;
}

.img-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 20px;
}

.img-wrapper {
    position: relative;
    overflow: hidden;

    /* border: 2px solid ; */
}

.img-wrapper img {
    width: 100%;
}

.img-wrapper>.img-text {
    text-align: center;
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.788);
}

.img-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-text p {
    text-align: center;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.img-wrapper i {
    color: white;
}

.img-wrapper>.img-text.fade {
    opacity: 0;
}

.img-wrapper:hover {
    border: 2px solid var(--primary-color);
    border-radius: 15px;
}

.img-wrapper:hover>.img-text.fade {
    opacity: 1;
}

/* feature section starts */
.feature-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feature-content {
    width: 30%;
    /* border: 2px solid red; */
    text-align: right;
}

.feature-img {
    width: 45%;
    height: auto;
    /* border: 2px solid blue; */

}

.feature-img img {
    width: 100%;
}

.feature-img-inner {
    position: relative;
    bottom: 250px;
    left: -120px;

}

.feature-img-inner img {
    width: 50%;

}

/* games section starts */
.game {
    background-color: #534C64;
    /* background-color: #2196F3; */
    /* border: 2px solid rgb(239, 143, 18); */
}

.game-container {
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    /* gap: 20px; */

}

.game-item {
    border: 2px solid red;
    border-radius: 50px;
    color: var(--title-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
}
.game-item:nth-child(n+6) {
    border: 2px solid ;
  }


/* for mobile */
@media screen and (max-width: 426px) {

    /* shared styles */
    .section-title {
        font-size: 2rem;
    }

    .section-description {
        font-size: 0.8rem;
        margin: 10px 0px 20px;
    }

    /* navbar section */
    .nav-container {
        display: flex;
        flex-direction: column;
    }

    .nav-logo {
        margin-bottom: 30px;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-content {
        margin-left: 0;
        width: 100%;
        /* height: 100%; */
        flex-direction: column;
        align-items: center;
    }

    .banner-content h2 {
        font-size: 2rem;
    }

    .banner-content h1 {
        font-size: 4rem;
    }

    .banner-content li {
        margin: 10px 0px;
        font-size: 0.8rem;
    }

    .banner-content i {
        margin-right: 15px;
        width: 10px;
    }

    .btn-container {
        gap: 10px;
        margin: 40px 0px;
    }

    .banner-img {
        width: 90%;
        padding: 0% 5%;
        margin-right: 0;
    }

    .banner-img img {
        width: 100%;
        /* border: 2px solid; */
    }

    .btn-primary {
        padding: 10px 20px;
        font-size: 1rem;

    }

    .btn-secondary {
        padding: 10px 20px;
        font-size: 1rem;

    }

    /* videos section starts */
    .videos-container {
        margin: 10vh 0vw;
        text-align: center;
    }

    .img-container {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        gap: 20px;
    }

    /* feature section starts */
    .feature-container {
        display: flex;
        flex-direction: column;
    }

    .feature-content {
        width: 80%;
        text-align: center;
    }

    .feature-content h2 {
        width: 70%;
        margin: auto;
    }

    .feature-img {
        width: 80%;

    }

    .feature-img img {
        width: 100%;
    }

    .feature-img-inner {
        bottom: 120px;
        left: -40px;
    }

    .feature-img-inner img {
        width: 40%;
    }

}

/* for tablet */
@media screen and (min-width: 426px) and (max-width: 992px) {

    /* navbar section */
    .nav-container {
        display: flex;
        flex-direction: column;
    }

    .nav-logo {
        margin-bottom: 30px;
    }

    .banner-container {
        /* border: 2px solid; */
        display: flex;
        flex-direction: column-reverse;

    }

    .banner-content {
        margin-left: 0;
        width: 100%;
        flex-direction: column;

    }

    .banner-img {
        width: 100%;
        padding: 0% 5%;
        margin-right: 0;
    }

    .banner-img img {
        width: 100%;
    }

    /* videos section starts */
    .videos-container {
        margin: 10vh 0vw;
        text-align: center;
    }

    .img-container {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 20px;
    }

    .videos-container h2 {
        font-size: 2.5rem;
    }

    .videos-container p {
        font-size: 1rem;
        margin: 10px 0px 30px;
    }

    /* feature section starts */
    .feature-container {
        display: flex;
        flex-direction: column;
    }

    .feature-content {
        width: 80%;
        text-align: center;
    }

    .feature-content h2 {
        width: 70%;
        margin: auto;
    }

    .feature-img {
        width: 80%;

    }

    .feature-img img {
        width: 100%;
    }

    .feature-img-inner {
        bottom: 120px;
        left: -40px;
    }

    .feature-img-inner img {
        width: 40%;
    }
}